#t-t-main-area
{
	/*border: 3px solid black;*/
    padding-top: 0.8rem;
	background-color: #191919;
}

.airline-logo 
{
	padding: 5px;
}

.t-t-border-bottom
{
	border-bottom: 3px solid white;
}

.t-t-border-left-and-right
{
	border-left: 3px solid white;
	border-right: 3px solid white;
}

/*---------------below properties are used for text colors-------------*/
.t-t-color-white
{
	color: white;
}

.t-t-color-yellow
{
	color: yellow;
}

.t-t-color-moccasin
{
	color: moccasin;
}

.t-t-color-springgreen
{
	color: springgreen;
}

.t-t-color-greenyellow
{
	color: greenyellow;
}
/*---------------below properties are used for colors-------------*/

.t-t-font-size-smaller
{
	font-size: 80%;
}
