USE [project]
GO
/****** Object:  Table [dbo].[airline_codes]    Script Date: 8/31/2022 9:10:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[airline_codes](
	[airline_code] [nvarchar](2) NOT NULL,
	[airline_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_airline_codes] PRIMARY KEY CLUSTERED 
(
	[airline_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[airline_codes] ([airline_code], [airline_name]) VALUES (N'2G', N'CargoItalia (alternate)')
INSERT [dbo].[airline_codes] ([airline_code], [airline_name]) VALUES (N'3U', N'Sichuan Airlines')
INSERT [dbo].[airline_codes] ([airline_code], [airline_name]) VALUES (N'3V', N'TNT Airways')
GO
