USE [project]
GO
/****** Object:  Table [dbo].[gates]    Script Date: 8/31/2022 8:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gates](
	[stand_no] [nvarchar](50) NOT NULL,
	[aircraft_type] [nvarchar](50) NOT NULL,
	[stand_status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_gates] PRIMARY KEY CLUSTERED 
(
	[stand_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[gates] ([stand_no], [aircraft_type], [stand_status]) VALUES (N'A1', N'A321 (WL),  B737 Max 10', N'Vacant')
INSERT [dbo].[gates] ([stand_no], [aircraft_type], [stand_status]) VALUES (N'A10', N'B757-200 (WL)', N'Vacant')
INSERT [dbo].[gates] ([stand_no], [aircraft_type], [stand_status]) VALUES (N'A11', N'B757-200 (WL)', N'Vacant')
GO
