.test-border
{
	border: 2px solid black;
}

.border-of-row
{
	border: 7px solid #4B0150;
}

.bg-color-day-sky-blue
{
	background-color: #FFE6E8;
}

.style1
{
	background-color: #046307;
	color: white;
}

.style3
{
	background-color: #4B0150;
	color: white;
}
.style4
{
	background-color: #7B68EE;
	color: white;
}

.style5
{
	background-color: #556B2F;
	color: white;
}
.style6
{
	background-color: #41A317;
	color: white;
}